* {
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.header {
  display:flex;
  height: 69px;
  border-bottom: 1px solid seashell;
}

.header img {
  display: flex;
  height: 50px;
  margin: 10px;
}

.header ul {
  text-align: right;
  flex-grow: 1;
}

.header li {
  display: inline-block;
  margin-left: 10px;
}

#mission .mission2 {
  background-image: url("../images/background.jpg");
  width: 1200px;
  height: 700px;
}

.mission2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.open h2 {
  text-align: center;
}

.open h5 {
  text-align: center;
}

#feature {
  width: 1000px;
  height: 700px;
}

#feature .flex-container {
  padding: 5px;
}

#feature img {
  width: 300px;
  height: 200px;
}

#feature .item {
  display: inline-block;
  margin: 10px;
}
